:root{
  font-size: 16px;
  --primary-color-100:rgba(0,0,0,1);
  --primary-color-80:rgba(0,0,0,0.8);
  --primary-color-60:rgba(0,0,0,0.6);
  --primary-color-40:rgba(0,0,0,0.4);
  --primary-color-20:rgba(0,0,0,0.2);
  --primary-color-10:rgba(0,0,0,0.1);
}

body{
  font-family: 'Fira Sans', sans-serif;
}

#main-nav
{
	margin-top:15px
}

#main-nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main-nav ul a
{
	display:block;
	color: var(--primary-color-80);
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:Arial, Helvetica, sans-serif;
}

#main-nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main-nav ul li.current-menu-item
{
	background: var(--primary-color-20);
}

#main-nav ul li:hover
{
	background:var(--primary-color-10);
}

#main-nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#main-nav ul ul li
{
	float:none;
	width:200px
}

#main-nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#main-nav ul ul ul
{
	top:0;
	left:100%
}

#main-nav ul li:hover > ul
{
	display:block
}